.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #eeeeee;
}

.hex-code {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 13vw;
  line-height: 1;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media only screen and (min-width: 992px) {
  .hex-code {
    font-size: 96px;
  }
}

.hue-button-group {
  font-size: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  width: 290px;
  margin: 0 auto;
  margin-bottom: 10px;
}

@media only screen and (min-width: 567px) {
  .hue-button-group {
    width: auto;
  }
}

.hue-button {
  width: 50px;
  height: 50px;
  margin: 10px;
  border-radius: 50%;
  display: inline-block;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  opacity: 0.75;
}

@media only screen and (min-width: 768px) {
  .hue-button {
    width: 60px;
    height: 60px;
    margin: 12px;
  }
}

.hue-button--selected {
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -1px rgba(0, 0, 0, 0.2);
  opacity: 1;
  background-image: url("/assets/check-solid.svg");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 50%;
}
