.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #eeeeee;
}

.hex-code {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 13vw;
  line-height: 1;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;

  @media (orientation: landscape) {
    font-size: 8vw;
  }

  @media only screen and (min-width: 992px) {
    font-size: 96px;
  }
}

.hue-button-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 1.8% 3% 1.8%;
  padding: 0 1.8% calc(constant(safe-area-inset-bottom, 0px) - 3%) 1.8%;
  padding: 0 1.8% calc(env(safe-area-inset-bottom, 0px) - 3%) 1.8%;

  @media only screen and (min-width: 700px) {
    padding: 0 12px 20px;
    padding: 0 12px calc(constant(safe-area-inset-bottom, 0px) - 20px);
    padding: 0 12px calc(env(safe-area-inset-bottom, 0px) - 20px);
  }

  @media (orientation: landscape) {
    width: 60%;
    margin: 0 auto;
  }
}

.hue-button-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 calc(100% / 7);
  padding: 0 1.2%;
  max-width: 100px;
  max-height: 100px;

  @media only screen and (min-width: 700px) {
    padding: 0 8px;
  }

  &:before {
    content: "";
    padding-top: 100%;
  }
}

.hue-button {
  width: 100%;
  height: 100%;
  border-radius: 33%;
  display: inline-block;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);

  &--selected {
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12),
      0 3px 1px -1px rgba(0, 0, 0, 0.2);
    opacity: 1;
    background-image: url("/assets/check-solid.svg");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 50%;
  }
}
